body {
  background: black;

  display: flex;
  align-content: center;
  justify-content: center;
}

#game-state{
  position: relative;
  border: 2px solid gray;
  background: black;
  height: 600px;
  width: 100%;
  cursor: none;
}

.image {
  position: absolute;
  top: 280px;
  left: 50%;
  height: 40px;
  width: 40px;
}

.enemy {
  position: absolute;
  height: 50px;
  width: 50px;
  background: white;
}
