body {
  background: lightblue;
  display: flex;
  z-index: 0;
}

.chunk {
  width: 10px;
  height: 10px;
  background: black;
  box-sizing: border-box;
  border: 1px solid white;
  position: absolute;
}

#game-state {
  background: gray;
  border: 2px solid white;
  margin: auto;
  height: 600px;
  width: 600px;
  z-index: 1;
  display: flex;
  position: relative;
  box-sizing: content-box;
}

#snack {
  position: absolute;

  background: black;
  height: 10px;
  width: 10px;
}
